html{
    font-family: 'Roboto', sans-serif;
}
.navbar-brand {
    margin-right: 55%; 
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  

.space{
    margin: 8px;
}
h2{
    border: 1px solid goldenrod;
    background-color: antiquewhite;
}
.card {
        border-bottom: 1px solid grey;
        box-shadow: 0 4px 8px rgba(0,0,0,.05);
    }
#card{
    margin: 10px;
}

.card img {
        height: 270px; 
        object-fit: cover; 
    }

.card-footer {
        background-color: #fff;
        margin-left: 80px;
    }

.card-title {
        font-size: 1.25rem; 
    }

h2 {
        font-weight: 700; 
        color: #333; 
    }

